<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/RecipeLogo.jpeg" type="image/x-icon">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <title>Recipe World</title>
</head>
<body>
<form action="/about" method="get">
    <div class="about">
        <div class="header">
            <nav class="nav-bar">
                <img src="/Logo.png" class="brand-name">
                <a href="#" class="hamburger">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </a>
                <div class="menu-bar">
                    <ul>
                        <li><a href="/index">Home</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/adminLogin">Admin</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </div>
            </nav>

            <div class="wrapper">
                <div class="row">
                    <div class="about-content">
                        <h1>Admin</h1>
                        <button class="btn add-recipe-btn">Add Recipes</button>
                        <button class="btn modify-recipe-btn">Modify Recipes</button>
                        <button class="btn delete-recipe-btn">Delete Recipes</button>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="footer">
        <div class="social-btn">
            <a href="https://www.facebook.com/Cmedsss" target="_blank" ><i class="	fab fa-facebook"></i></a>
            <a href="https://www.instagram.com/tiaanmeds/" target="_blank" ><i class="	fab fa-instagram"></i></a>
            <a href="https://www.linkedin.com/in/tianmeds/" target="_blank"><i class="	fab fa-linkedin"></i></a>
            <a href="https://github.com/TianMeds" target="_blank" ><i class="	fab fa-github"></i></a>
        </div>
        <div class="quick-bar">
            <a href="/index">Home</a>
            <a href="/about">About</a>
            <a href="/adminLogin">Admin</a>
            <a href="/contact">Contact</a>
        </div>
    </div>

    <script src="./assets/index.js"></script>
</form>
</body>
</html>
